.about_us {
	font-family: 'robotoblack';
	text-align: center;
	margin-top: 50px;
	color: #7f90a5;
}

.about_us p {
	text-align: center;
	font-family: 'robotoblack';
	font-size: 14px;
	color: #7f90a5;
}

@media only screen and (max-width: 688px) {
  .about_us p {
  	padding-right: 20px;
  }
}